<!DOCTYPE html>
<head>
</head>
<header>
  <div class="title-wrapper">
    <div id="title-bar">
      <h1 class="sec-logo">
        <a href="/home">
          <img src="/sec.png" width="200">
        </a>        
      </h1>
      <h1 id="app-title" class="title-bar-txt">SEC FinanceHub</h1>
      <div class="social-links">
        <a class="tamu-logo" href="http://tamu.edu/"></a>
          <ul>
            <a href="https://facebook.com/TAMU.SEC">
              <img src="/fb-white.png" width="25" height="25">
            </a>
            <a href="https://twitter.com/TAMUsec">
              <img src="/twitter-white.png" width="25" height="25">
            </a>
            <a href="https://instagram.com/tamusec">
              <img src="/instagram-white.png" width="25" height="25">
            </a>
            <a href="https://linkedin.com/company/texas-a&amp;m-student-engineers'-council">
              <img src="/linkedin-white.png" width="25" height="25">
            </a>
          </ul>
      </div>
    </div>
  </div>
  
</header>