<footer class="contentinfo">
  <div class="footer-wrap">
    <section class="sec-information">
      <img src="/sec.png" width="130" height="80">

      <p>
        <b>Student Engineers' Council</b><br />
        Texas A&amp;M University<br>
        TAMU 3127<br />
        College Station, TX 77843-3127
      </p>

      <p>
        Phone: 979.847.8567<br>
        Fax: 979.458.0545
      </p>

      <p>
        <a href="http://sec.tamu.edu/contact.asp">Email us</a>
      </p>
    </section>
    <section class="social-links">
      <ul>
        <a href="https://facebook.com/TAMU.SEC">
          <img src="/fb.png" width="25" height="25">
        </a>
          <a href="https://twitter.com/TAMUsec">
          <img src="/twitter.png" width="25" height="25">
        </a>
          <a href="https://instagram.com/tamusec">
          <img src="/instagram.png" width="25" height="25">
        </a>
          <a href="https://linkedin.com/company/texas-a&amp;m-student-engineers'-council">
          <img src="/linkedin.png" width="25" height="25">
        </a>
      </ul>
    </section>
  </div>

  <section class="copyright">
    <p>
      © 2018-<%= Time.current.year %> Student Engineers' Council. All Rights Reserved.
    </p>
  </section>
    
</footer>